<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nero.bumble">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bumble_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bumble_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bumble">
        <activity android:name=".BeelineActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".BeforeYouSwipe" />
        <activity android:name=".SwipeManActivity" />
        <activity android:name=".SwipeWomenActivity">
        </activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".MakeTheFirstMoveMen" />
        <activity android:name=".EnableLocationActivity" />
        <activity android:name=".connectActivity" />
        <activity android:name=".WhoAreUInterestedActivity" />
        <activity android:name=".firstMoveActivity">
        </activity>
        <activity android:name=".IdentificationActivity" />
        <activity android:name=".FirstPhotoActivity">
        </activity>
        <activity android:name=".RecoveryEmailidActivity" />
        <activity android:name=".BirthdayActivity" >

        </activity>
        <activity android:name=".FirstNameActivity">
        </activity>
        <activity android:name=".OTPActivity">
        </activity>
        <activity android:name=".ModeToGetStartedActivity" />
        <activity android:name=".PhoneNumberActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>